@tailwind base;

@tailwind components;

@tailwind utilities;

#hero {
  background-image: url('./assets/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #16163A;
}
#cta {
  background-image: url('./assets/cta.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #c9c9c9;
}

#diagonal-box {
  transform: skewY(-3deg);
}

#diagonal-box div div 

{
	transform: skewY(3deg);
}